<div class="container mt-3">
  <div class="row">
    <h2>All our flats</h2>
  </div>
  <div class="row">
  <ul class="list-group list-inline d-flex">
    <% @flats.each do |flat| %>
      <li class="card"><%= flat.name %>
      <p><%= flat.description %></p>
      </li>
    <% end %>
  </div>
</div>
